body {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    width: 90%;
    height: 100vh;
    grid-template-rows: 10vh 85vh 60vh 20vh 10vh 10vh;
}

.line {
    display: grid;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
}

.line-type-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.line-type-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 7fr 1fr;
}

.line-type-3 {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr;
}

.line-type-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Остальные стили остаются без изменений */
.square-el, 
.small-rectangle-el, 
.medium-rectangle-el, 
.big-rectangle-el {
    width: 100%;
    height: 100%;
    min-width: 0; /* предотвращает растягивание из-за контента */
    min-height: 0;
}

.square-el {
    background-color: rgba(255, 213, 170, 0.8);
}

.small-rectangle-el {
    background-color: rgba(255, 230, 200, 0.8);
}

.medium-rectangle-el {
    background-color: rgba(255, 200, 180, 0.8);
}

.big-rectangle-el {
    background-color: rgba(255, 240, 220, 0.8);
}

.big-rectangle-el p {
    position: relative;
    text-align: center;
    font-size: 2vw;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.fill-image, .cover-image {
    width: 100%;
    height: 100%;
}

.fill-image {
    object-fit: fill;
}

.cover-image {
    object-fit: cover;
}

@media (max-width: 576px) {
    .line-type-3 {
        display: none;
    }
}

@media (max-width: 576px) {
    .line-type-3 {
        display: none;
    }
}

@media (max-width: 992px) {
    .line-type-2 {
        display: flex;
        flex-direction: column;
    }
}